body {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;;
    min-height: 100vh;
}

.btn-modern {
    padding: 10px 35px;
    font-size: x-large;
    border: solid 1px transparent;
    border-radius: 15px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.btn-modern:hover {
    background-color: blue;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgb(129, 129, 255);
}